header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
  font-size: 15px;
}

/* gnb */
.gnb_container {
  width: 1200px;
  height: 70px;
  margin: auto;
}
.gnb {
  width: fit-content;
  margin: auto;
}
.gnb > li {
  float: left;
  width: 100px;
  padding: 10px 0;
  text-align: center;
  line-height: 50px;
  transition: all 0.5s;
}
.gnb .logo {
  width: 260px;
  height: 50px;
  margin: 0 100px;
}
.gnb .logo img {
  transition: all 2s;
}
.gnb .logo:hover img{
  transform: rotateX(-360deg)
}
/*
.gnb > li:hover {
  color: #f0616e;
}*/

/* lnb */
.lnb {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 0;
  background-color: #fff;
  border-bottom: #f6c9c9 1px solid;
  transition: all 0.5s;
}
.lnb > .wrap {
  width: fit-content;
  margin: 0 auto 20px;
}
.lnb ul {
  float: left;
}
.lnb ul:first-child {
  margin-right: 100px;
}
.lnb ul:nth-child(2) {
  margin-right: 460px;
}
.lnb li {
  width: 100px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
}
.lnb li:hover {
  font-weight: bold;
}

/* sidebar */
.snb {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}
.snb > i {
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  transition: all 0.5s;
  cursor: pointer;
}
.snb > i:hover {
  color: #f0616e;
}
.snb > aside {
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 300px;
  max-width: 0;
  background-color: #2f4858;
  color: #fff;
}
.snb > aside > .btn_close {
  width: 100%;
  padding-right: 20px;
  font-size: 20px;
  text-align: right;
  line-height: 50px;
  transition: all 0.3s;
  cursor: pointer;
}
.snb > aside > .side_menu {
  margin: 80px 50px 100px 50px;
}
.snb > aside > .side_menu > li {
  padding-left: 5px;
  font-size: 20px;
  text-align: left;
  line-height: 55px;
  transition: all 0.3s;
}
.snb > aside > .side_menu > li:hover {
  padding-left: 0px;
}
.snb > aside > .side_icon {
  margin: 15px;
}
.snb > aside > .side_icon > li {
  float: left;
  width: 50%;
  padding: 0 10px;
  text-align: center;
}
.snb > aside > .side_icon * {
  transition: all 0.3s;
}
.snb > aside > .side_icon img {
  margin: 10px 0;
}
.snb > aside > .side_icon > li:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.snb > aside > .btn_close > i:hover,
.snb > aside > .side_icon > li:hover > * {
  opacity: 0.8;
}
