* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 1200px;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #303030;
}
ul, ol {
  list-style: none;
  color: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}

/* clearfix */
.clear::after {
  content: '';
  display: block;
  clear: both;
}