/* slide_banner */
#bg_img {
  position: absolute;
  top: 70px;
  z-index: -10;
  width: 100%;
  height: 1280px;
  background: url(img/bg.png) no-repeat top;
  background-size: auto;
}
#slide_banner {
  position: relative;
  top: 70px;
  width: 1200px;
  height: 540px;
  margin: 0px auto 240px;
}
#slide_banner .btn_prev,
#slide_banner .btn_next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  cursor: pointer;
}
#slide_banner .btn_prev {left: 0px;}
#slide_banner .btn_next {right: 0px;}
#slide_banner .btn_prev > img,
#slide_banner .btn_next > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
#slide_banner .btn_prev:hover > img {left: 15px;}
#slide_banner .btn_next:hover > img {left: 35px;}

/* best_items */
#best_items {
  width: 870px;
  height: 500px;
  margin: auto;
  text-align: center;
}
#best_items > .title {
  width: 220px;
  background: url(img/crown.png) no-repeat;
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
  margin: auto;
}
#best_items > .item_list > li {
  float: left;
  width: 250px;
  margin: 0 20px;
}
#best_items > .item_list a > img {
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(48, 48, 48, 0.3);
  transition: all 0.3s;
}
#best_items > .item_list a > img:hover {
  opacity: 0.8;
}
#best_items > .item_list h6 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
#best_items > .item_list p {
  color: #ababab;
}

/* service */
#service {
  width: 100%;
  height: 1000px;
}
#service .bg_box {
  position: relative;
  width: 70%;
  height: 335px;
}
#service .title_box {
  position: absolute;
  top: 45px;
  width: 380px;
  height: 35px;
  background-color: rgba(225, 225, 225, 0.1);
}
#service h5 {
  position: absolute;
  top: 48px;
  font-family: 'NanumMyeongjo';
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
#service .description {
  position: absolute;
  top: 120px;
  width: 300px;
  color: #fff;
  line-height: 30px;
}
#service .photo {
  position: absolute;
  top: 45px;
}

/* delivery */
#service > .delivery {
  left: 0;
  margin-top: 140px;
  background-color: #a50a1f;
}
#service > .delivery > .title_box {right: 70px;}
#service > .delivery > h5 {right: 60px;}
#service > .delivery > .description {right: 120px;}
#service > .delivery > .photo {right: 500px;}

/* pick-up */
#service > .pick-up {
  left: 30%;
  margin-top: 200px;
  background-color: #684335;
}
#service > .pick-up > .title_box {left: 70px;}
#service > .pick-up > h5 {left: 80px;}
#service > .pick-up > .description {left: 100px;}
#service > .pick-up > .photo {left: 500px;}

/* sub_items */
#sub_items {
  width: 1200px;
  height: 1280px;
  margin: 140px auto 0;
}
#sub_items > .title {
  height: 100px;
}
#sub_items > .title > hr {
  overflow: visible;
  position: relative;
  top: 50px;
  border: none;
  border-top: 1px solid #f0616e;
  text-align: center;
}
#sub_items > .title > hr::after {
  content: 'Billy Angel Products';
  position: relative;
  top: -18px;
  padding: 0 30px;
  background-color: #fff;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: bold;
}

/* category */
#sub_items > .category {
  margin: 40px auto 120px;
}
#sub_items > .category > div {
  overflow: hidden;
  float: left;
  position: relative;
  width: 380px;
  height: 380px;
  margin: 0 10px;
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0px 0px 3px #000;
  cursor: pointer;
}
#sub_items > .category .wrap::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}
#sub_items > .category > div:hover > .wrap::after {
  opacity: 0.5;
}
#sub_items > .category p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}

/* goods */
#sub_items > .goods {
  width: 100%;
  height: 640px;
  padding: 80px;
  background: url(img/goods_bg.png) no-repeat;
}
#sub_items > .goods > div {
  float: left;
}
#sub_items > .goods > .txt_goods {
  width: 220px;
  height: 150px;
  margin: 150px 0 40px 60px;
  background: url(img/goods_box.png) no-repeat bottom;
  background-size: auto;
  text-align: center;
}
#sub_items > .goods > .txt_goods > p {
  padding-top: 5px;
  color: #2f4858;
  line-height: 25px;
}
#sub_items > .goods > .btn_more {
  width: 220px;
  height: 50px;
  margin-left: 60px;
  padding: 15px;
  background-color: #d48e8e;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
#sub_items > .goods > .btn_more i {
  margin-left: 10px;
}
#sub_items > .goods > .btn_more:hover {
  opacity: 0.8;
}

/* cs */
#cs {
  width: 780px;
  margin: 100px auto;
}
#cs > .txt_cs {
  float: left;
}
#cs h3 {
  font-family: 'NanumMyeongjo';
  font-size: 40px;
  font-weight: 500;
}
#cs .info {
  margin: 30px 0 15px;
}
#cs .time {
  color: #ababab;
}
#cs .time > b {
  color: #303030;
}
#cs > .talk {
  float: right;
  margin-top: 20px;
  transition: all 0.3s;
}
#cs > .talk:hover {
  opacity: 0.8;
}